<tr id="<%= dom_id sach %>">
  <td><%= sach.stt %></td>
  <td><%= sach.ma_hs %></td>
  <td><%= sach.ho_va_ten %></td>
  <td><%= sach.lop %></td>
  <td><%= sach.ma_sach %></td>
  <td><%= sach.ten_sach %></td>
  <td><%= sach.ten_tac_gia %></td>
  <td><%= sach.tu_sach %></td>
  <td><%= sach.so_bm %></td>
  <td><%= sach.ngay_muon %></td>
  <td><%= sach.ngay_tra %></td>
  <td><%= sach.so_ngay %></td>
  <td><%= sach.ghi_chu %></td>
</tr>
